<template>
    <section class="py-4">
        <div class="container d-flex align-items-center">

            <h4>home</h4>
        </div>
    </section>
</template>
<script>
export default {

}
</script>
<style scoped>
    section {
        background-color: #555;
        color: crimson;
        height: 100vh;
        border-bottom: 1px solid #ccc
    }
    .container {
        height: 100%;
    }
</style>
