<template>
    <footer class="py-4">
        <div class="container">

            <h4>footer</h4>
        </div>
    </footer>
</template>
<script>
export default {

}
</script>
<style scoped>
    footer {
        background-color: #000;
        color: crimson;
    }
</style>
