<template>
  <div class="app">
    <site-header></site-header>
    <home></home>
    <skills></skills>
    <site-footer></site-footer>
  </div>
</template>

<script>
import siteHeader from './components/commons/header.vue'
import siteFooter from './components/commons/footer.vue'
import Home from './components/home.vue'
import Skills from './components/skills.vue'
export default {
  components: { siteHeader, siteFooter, Home, Skills }
}
</script>

<style scopped>
  .app {
    background-color: black;
  }
</style>
